/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url('../css/../behaviors/box-sizing/boxsizing.php'); }

img, video { max-width: 100%; height: auto; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url('../css/../behaviors/box-sizing/boxsizing.php'); }

body { margin-top: 30px; }

header { position: fixed; z-index: 50; top: 0; left: 0; right: 0; padding: 5px 10px; background: #222; color: #DDD; }
header h1 { display: block; float: left; margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-size: 22px; font-weight: 400; }
header ul { float: right; margin-top: 1px; }
header ul li { display: inline; }
header ul li:first-child a { border-left: 0; }
header ul a { display: inline-block; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-size: 11px; text-decoration: none; padding: 0 2px 0 5px; border-left: 1px solid #666; color: #fff; }
header ul a:hover { color: #0066FF; }

.box { position: relative; height: 0; padding-bottom: 25%; float: left; }
.box.full { width: 100%; clear: both; }
.box.thq { width: 75%; }
.box.half { width: 50%; }
.box.quarter { width: 25%; }
.box.eighth { width: 12.5%; padding-bottom: 12.5%; }
.box.high { padding-bottom: 50%; }
.box.xhigh { padding-bottom: 125%; }
.box.mid { padding-bottom: 37.5%; }
.box.reg { padding-bottom: 25%; }
.box.low { padding-bottom: 12.5%; }
.box.no-height { padding-bottom: 0; height: auto; }
.box.no-height > div { position: static; margin: 5px; }
.box.right { float: right; }
.box > div { position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); }
.box > div.hover { -webkit-transition: opacity 0.15s ease; -moz-transition: opacity 0.15s ease; -o-transition: opacity 0.15s ease; transition: opacity 0.15s ease; }
.box > div.hover:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.box > div.image { background-size: contain; background-position: center center; background-repeat: no-repeat; }
.box > div.image.cover { background-size: cover; }
.box > div.image.bgtop { background-position: center top; }
.box > div.image.bgbottom { background-position: center bottom; }
.box > div.image.bgleft { background-position: left center; }
.box > div.image.bgright { background-position: right center; }
.box > div.content { overflow: hidden; }
.box > div.text, .box > div.adjective, .box > div.title { padding: 10px; text-align: center; background: #F6F6F6; color: #333; }
.box > div.text > span, .box > div.adjective > span, .box > div.title > span { display: block; position: absolute; top: 50%; line-height: 1.25em; margin-top: -.75em; left: 0; right: 0; }
.box > div.text > span.multiline, .box > div.adjective > span.multiline, .box > div.title > span.multiline { margin-top: -1.5em; }
@media (max-width: 900px) { .box > div.text, .box > div.adjective, .box > div.title { font-family: 'Open Sans Condensed'; } }
.box > div.adjective { font-size: 12px; text-transform: uppercase; }
.box > div.title { background-color: #efefef; color: #666; font-family: 'Open Sans Condensed'; font-size: 24px; letter-spacing: 2px; text-transform: uppercase; -webkit-transition: background-color 0.2s ease; -moz-transition: background-color 0.2s ease; -o-transition: background-color 0.2s ease; transition: background-color 0.2s ease; }
.set.open .box > div.title { background-color: #ffffff; color: #333; }
.box > div.title small { font-size: 14px; }
.box > div.text { line-height: 1.25; }
.box > div.text > span { left: 10px; right: 10px; }

#banners { background-color: white; background-image: url('../gfx/swatches/banners.png?1392704212'); }

#blogpost-1 { background-color: white; background-image: url('../gfx/swatches/blogpost-1.png?1392704212'); }

#blogpost-2 { background-color: white; background-image: url('../gfx/swatches/blogpost-2.png?1392704212'); }

#carousel { background-color: white; background-image: url('../gfx/swatches/carousel.png?1392704212'); }

#dashboard-detail { background-color: white; background-image: url('../gfx/swatches/dashboard-detail.png?1392704212'); }

#dashboard-sketch { background-color: white; background-image: url('../gfx/swatches/dashboard-sketch.png?1392704212'); }

#event { background-color: white; background-image: url('../gfx/swatches/event.png?1392704212'); }

#features { background-color: white; background-image: url('../gfx/swatches/features.png?1392704212'); }

#footer { background-color: white; background-image: url('../gfx/swatches/footer.png?1392704212'); }

#header-1 { background-color: white; background-image: url('../gfx/swatches/header-1.png?1392704212'); }

#header-2 { background-color: white; background-image: url('../gfx/swatches/header-2.png?1392704212'); }

#icons { background-color: white; background-image: url('../gfx/swatches/icons.png?1392704212'); }

#index { background-color: white; background-image: url('../gfx/swatches/index.png?1392704212'); }

#leaderboard { background-color: white; background-image: url('../gfx/swatches/leaderboard.png?1392704212'); }

#megamenu { background-color: white; background-image: url('../gfx/swatches/megamenu.png?1392704212'); }

#profile-detail { background-color: white; background-image: url('../gfx/swatches/profile-detail.png?1392704212'); }

#profile { background-color: white; background-image: url('../gfx/swatches/profile.png?1392704212'); }

#section-hero { background-color: white; background-image: url('../gfx/swatches/section-hero.png?1392704212'); }

#signup { background-color: white; background-image: url('../gfx/swatches/signup.png?1392704212'); }

#popular { background-color: white; background-image: url('../gfx/swatches/popular.png?1392704212'); }

#steps { background-color: white; background-image: url('../gfx/swatches/steps.png?1392704212'); }

#teaser-1 { background-color: white; background-image: url('../gfx/swatches/teaser-1.png?1392704212'); }

#teaser-2 { background-color: white; background-image: url('../gfx/swatches/teaser-2.png?1392704212'); }

#inbox-flat { background-color: white; background-image: url('../gfx/swatches/inbox-flat.png?1394237656'); }

#dashboard-proto-flat { background-color: white; background-image: url('../gfx/swatches/dashboard-proto-flat.png?1394237656'); }

#editor { background-color: white; background-image: url('../gfx/swatches/editor.png?1394237656'); }

#sidetabs { background-color: white; background-image: url('../gfx/swatches/sidetabs.png?1394237656'); }

#color-page-tall { background-color: white; background-image: url('../gfx/swatches/color-page-tall.png?1394237656'); }

#overview-elccs { background-color: white; background-image: url('../gfx/swatches/overview-elccs.png?1394237656'); }

#hg1-tabloid { background-color: white; background-image: url('../gfx/swatches/hg1-tabloid.png?1394567244'); }

#hg2-tabloid { background-color: white; background-image: url('../gfx/swatches/hg2-tabloid.png?1394567244'); }

body { background: #e0e0e0; font-family: 'Open Sans'; }
body.transition { -webkit-transition: background-color 1s ease; -moz-transition: background-color 1s ease; -o-transition: background-color 1s ease; transition: background-color 1s ease; }

.set, .banner { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; width: 1000px; margin: 0 auto; border-top: 1px solid #f6f6f6; border-bottom: 1px solid #d6d6d6; padding: 50px 0; }
.set:before, .set:after, .banner:before, .banner:after { content: "."; display: block; height: 0; overflow: hidden; }
.set:after, .banner:after { clear: both; }
.set:first-child, .banner:first-child { border-top: 0; }
.set:last-child, .banner:last-child { border-bottom: 0; }

.banner { padding: 100px 10px 25px 10px; }
.banner h2 { font-family: 'Open Sans Condensed', sans-serif; font-size: 35px; color: #333; text-shadow: 1px 1px 0 #f0f0f0; }
.banner h2 small { font-size: 24px; color: #444; }
.banner:first-child { padding-top: 50px; }

.collapsed { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; clear: both; position: relative; }
.collapsed:before, .collapsed:after { content: "."; display: block; height: 0; overflow: hidden; }
.collapsed:after { clear: both; }

em { font-style: italic; }

.content-wrap { /*! normalize.css v1.1.0 | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Base | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Links | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Typography | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Embedded Content | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Figures | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Forms | MIT License | git.io/normalize */ /*! normalize.css v1.1.0 | Tables | MIT License | git.io/normalize */ line-height: 1.5; }
.content-wrap article, .content-wrap aside, .content-wrap details, .content-wrap figcaption, .content-wrap figure, .content-wrap footer, .content-wrap header, .content-wrap hgroup, .content-wrap main, .content-wrap nav, .content-wrap section, .content-wrap summary { display: block; }
.content-wrap audio, .content-wrap canvas, .content-wrap video { display: inline-block; *display: inline; *zoom: 1; }
.content-wrap audio:not([controls]) { display: none; height: 0; }
.content-wrap [hidden] { display: none; }
.content-wrap html { font-size: 100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.content-wrap html, .content-wrap button, .content-wrap input, .content-wrap select, .content-wrap textarea { font-family: sans-serif; }
.content-wrap body { margin: 0; }
.content-wrap a:focus { outline: thin dotted; }
.content-wrap a:active, .content-wrap a:hover { outline: 0; }
.content-wrap h1 { font-size: 2em; margin: 0.67em 0; }
.content-wrap h2 { font-size: 1.5em; margin: 0.83em 0; }
.content-wrap h3 { font-size: 1.17em; margin: 1em 0; }
.content-wrap h4 { font-size: 1em; margin: 1.33em 0; }
.content-wrap h5 { font-size: 0.83em; margin: 1.67em 0; }
.content-wrap h6 { font-size: 0.67em; margin: 2.33em 0; }
.content-wrap abbr[title] { border-bottom: 1px dotted; }
.content-wrap b, .content-wrap strong { font-weight: bold; }
.content-wrap blockquote { margin: 1em 40px; }
.content-wrap dfn { font-style: italic; }
.content-wrap hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
.content-wrap mark { background: #ff0; color: #000; }
.content-wrap p, .content-wrap pre { margin: 1em 0; }
.content-wrap code, .content-wrap kbd, .content-wrap pre, .content-wrap samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
.content-wrap pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
.content-wrap q { quotes: "\201C" "\201D" "\2018" "\2019"; }
.content-wrap q { quotes: none; }
.content-wrap q:before, .content-wrap q:after { content: ''; content: none; }
.content-wrap small { font-size: 80%; }
.content-wrap sub, .content-wrap sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.content-wrap sup { top: -0.5em; }
.content-wrap sub { bottom: -0.25em; }
.content-wrap dl, .content-wrap menu, .content-wrap ol, .content-wrap ul { margin: 1em 0; }
.content-wrap dd { margin: 0 0 0 40px; }
.content-wrap menu, .content-wrap ol, .content-wrap ul { padding: 0 0 0 40px; }
.content-wrap nav ul, .content-wrap nav ol { list-style: none; list-style-image: none; }
.content-wrap img { border: 0; -ms-interpolation-mode: bicubic; }
.content-wrap svg:not(:root) { overflow: hidden; }
.content-wrap figure { margin: 0; }
.content-wrap form { margin: 0; }
.content-wrap fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
.content-wrap legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }
.content-wrap button, .content-wrap input, .content-wrap select, .content-wrap textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
.content-wrap button, .content-wrap input { line-height: normal; }
.content-wrap button, .content-wrap select { text-transform: none; }
.content-wrap button, .content-wrap html input[type="button"], .content-wrap input[type="reset"], .content-wrap input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
.content-wrap button[disabled], .content-wrap html input[disabled] { cursor: default; }
.content-wrap input[type="checkbox"], .content-wrap input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
.content-wrap input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.content-wrap input[type="search"]::-webkit-search-cancel-button, .content-wrap input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
.content-wrap button::-moz-focus-inner, .content-wrap input::-moz-focus-inner { border: 0; padding: 0; }
.content-wrap textarea { overflow: auto; vertical-align: top; }
.content-wrap table { border-collapse: collapse; border-spacing: 0; }
.content-wrap h1, .content-wrap h2, .content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 { line-height: 1.15; }
.content-wrap .breadcrumb > div { display: inline-block; }
.content-wrap .heading, .content-wrap .body { padding: 25px; }
.content-wrap .author { float: right; padding-left: 10px; }
.content-wrap li { list-style: disc outside; }
.content-wrap .author + p, .content-wrap p:first-child { margin-top: 0; }
.content-wrap blockquote { margin: 1em 0; border-left: 4px solid white; padding: 0 40px 0 36px; }
.content-wrap blockquote cite { display: block; text-align: right; font-size: 0.875em; font-style: italic; }
.content-wrap .comment .avatar { float: left; margin-right: 15px; }
.content-wrap .comment .avatar img { display: block; }

.content { background: white; /******************************************************************************* METROPOLIS                                                                  * ******************************************************************************/ /******************************************************************************* MARRAKESH                                                                   * ******************************************************************************/ /******************************************************************************* HERITAGE                                                                    * ******************************************************************************/ }
.content.introduction { padding: 25px; }
.content.introduction p:last-child { margin-bottom: 0; }
.content.metropolis { color: #555; font-family: 'Whitney SSm A', 'Whitney SSm B'; }
.content.metropolis .breadcrumb { font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal; text-transform: uppercase; font-size: 0.75em; }
.content.metropolis .breadcrumb a { color: #4c97ef; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
.content.metropolis .breadcrumb .sep { color: #999; }
.content.metropolis .heading { background: url('../gfx/Cleared-Susan-Heinch.jpg?1394484645') no-repeat center bottom; background-size: cover; }
.content.metropolis .body { border-top: 3px solid #EEE; }
.content.metropolis .comments { margin-top: 1em; border-top: 3px solid #EEE; padding-top: 1em; }
.content.metropolis .comments .avatar { border: 1px solid #f2f2f2; padding: 5px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
.content.metropolis .comments h3 { margin-bottom: 0; }
.content.metropolis .comments .meta { color: #342454; font-size: .875em; font-style: italic; margin-bottom: 1em; }
.content.metropolis .comments .meta .by { color: rgba(52, 36, 84, 0.6); }
.content.metropolis .comments .comment-text { overflow: hidden; }
.content.metropolis h1, .content.metropolis h2, .content.metropolis h3, .content.metropolis h4, .content.metropolis h5, .content.metropolis h6 { font-family: 'Gotham SSm A', 'Gotham SSm B'; font-style: normal; color: #342454; }
.content.metropolis h1, .content.metropolis h2 { font-weight: 700; }
.content.metropolis h3, .content.metropolis h4, .content.metropolis h5, .content.metropolis h6 { font-weight: 400; }
.content.metropolis h1 { margin: 6.5em 3em 0.75em 3em; text-align: center; text-transform: uppercase; letter-spacing: 2px; color: white; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
.content.metropolis .date { color: white; font-style: italic; font-size: 0.875em; text-align: center; }
.content.metropolis a { color: #1470da; text-decoration: none; }
.content.metropolis a:hover { color: #fe8b03; }
.content.metropolis a:visited, .content.metropolis a.visited { color: #63a5f1; }
.content.metropolis blockquote { border-left-color: rgba(254, 139, 3, 0.3); }
.content.metropolis blockquote cite { color: #fe8b03; }
.content.metropolis .author { position: relative; padding: 0 0 10px 0; border-bottom: 5px solid #4a3378; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); margin-left: 10px; line-height: 1; text-align: center; }
.content.metropolis .author .avatar { margin-bottom: 0.5em; }
.content.metropolis .author .avatar img { display: block; }
.content.metropolis .author .flag { position: absolute; top: 105px; right: 5px; }
.content.metropolis .author .flag img { display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; border: 2px solid white; max-height: 18px; }
.content.metropolis .author .name { display: inline; font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal; text-transform: uppercase; font-size: 18px; }
.content.marrakesh { color: #544; font-family: 'Verlag A', 'Verlag B'; font-weight: 300; }
.content.marrakesh h1, .content.marrakesh h2 { font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; color: #94101e; }
.content.marrakesh h3, .content.marrakesh h4, .content.marrakesh h5, .content.marrakesh h6 { font-family: 'Archer SSm A', 'Archer SSm B'; font-style: italic; font-weight: 600; color: #94101e; }
.content.marrakesh a { color: #6ea22b; text-decoration: none; }
.content.marrakesh a:hover { text-decoration: underline; }
.content.marrakesh a:visited, .content.marrakesh a.visited { color: #813c79; }
.content.marrakesh blockquote { position: relative; quotes: "\201C" "\201D" "\2018" "\2019"; border-left: 0; padding: 0 40px; margin: 2em 0; }
.content.marrakesh blockquote:before, .content.marrakesh blockquote:after, .content.marrakesh blockquote cite { font-family: 'Archer SSm A', 'Archer SSm B'; font-style: italic; font-weight: 500; color: #c2611b; }
.content.marrakesh blockquote:before, .content.marrakesh blockquote:after { position: absolute; font-size: 4em; line-height: 0; }
.content.marrakesh blockquote:before { top: 0.25em; left: 0; content: open-quote; }
.content.marrakesh blockquote:after { bottom: 0; right: 0; content: close-quote; }
.content.marrakesh .heading { position: relative; background: #5e2c58; border-bottom: 4px solid #3b1c37; }
.content.marrakesh .heading .date { position: absolute; top: 15px; right: 15px; color: white; font-style: italic; }
.content.marrakesh .heading h1 { color: #95cf4b; margin: 0; }
.content.marrakesh .breadcrumb { position: relative; display: inline-block; top: -25px; padding: 15px 15px 12px 15px; background: #7cb631; border-bottom: 3px solid #608e26; }
.content.marrakesh .breadcrumb a { color: white; }
.content.marrakesh .breadcrumb .sep { color: rgba(255, 255, 255, 0.5); }
.content.marrakesh .author { background: #fdfcfb; position: relative; padding: 0 0 10px 0; border-top: 8px solid #94101e; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); margin-left: 10px; line-height: 1; text-align: center; }
.content.marrakesh .author .avatar { margin-bottom: 0.5em; }
.content.marrakesh .author .avatar img { display: block; }
.content.marrakesh .author .flag { position: absolute; top: 108px; right: 0; }
.content.marrakesh .author .flag img { display: block; -webkit-border-radius: 3px 0 0 0; -moz-border-radius: 3px 0 0 0; -ms-border-radius: 3px 0 0 0; -o-border-radius: 3px 0 0 0; border-radius: 3px 0 0 0; background: white; border-top: 2px solid white; border-left: 2px solid white; max-height: 20px; }
.content.marrakesh .author .name { font-weight: 700; font-size: 18px; }
.content.marrakesh .author .name a { color: #94101e; }
.content.marrakesh .comments { background: #fdfcfb; padding: 25px; border-top: 5px solid #c2611b; }
.content.marrakesh .comments h2:first-child { color: #c2611b; margin-top: 0; }
.content.marrakesh .comments .avatar { max-width: 96px; border-top: 7px solid #c2611b; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
.content.marrakesh .comments .avatar img { display: block; }
.content.marrakesh .comments .comment-header { margin-bottom: 1em; }
.content.marrakesh .comments .comment-header h3 { margin-bottom: 0; color: #c2611b; }
.content.marrakesh .comments .comment-header .meta { font-size: 0.875em; font-style: italic; color: #c2611b; }
.content.marrakesh .comments .comment-header .by { color: rgba(194, 97, 27, 0.5); }
.content.marrakesh .comments .comment-text { overflow: hidden; }
.content.heritage { color: #334; font-family: 'Whitney SSm A', 'Whitney SSm B'; padding-left: 25px; padding-right: 25px; }
.content.heritage h1, .content.heritage h2, .content.heritage h3, .content.heritage h4, .content.heritage h5, .content.heritage h6 { font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; color: #6e1d24; }
.content.heritage a { color: #5b87a8; text-decoration: none; }
.content.heritage a:hover { color: #5d788c; text-decoration: underline; }
.content.heritage a:visited, .content.heritage a .visited { color: #577083; }
.content.heritage blockquote { position: relative; quotes: "\201C" "\201D" "\2018" "\2019"; border-left: 0; padding: 0 40px; margin: 2em 0; color: #43051e; }
.content.heritage blockquote, .content.heritage blockquote:before, .content.heritage blockquote:after { font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 500; }
.content.heritage blockquote:before, .content.heritage blockquote:after, .content.heritage blockquote cite { color: #6e1d24; }
.content.heritage blockquote:before, .content.heritage blockquote:after { position: absolute; font-size: 4em; line-height: 0; }
.content.heritage blockquote:before { top: 0.25em; left: 0; content: open-quote; }
.content.heritage blockquote:after { bottom: 0; right: 0; content: close-quote; }
.content.heritage .author { background: #f4f4f4; border: 1px solid #e6e6e6; border-bottom-width: 3px; padding: 15px; margin: 0 0 15px 15px; text-align: center; }
.content.heritage .author .flag { display: inline; }
.content.heritage .author .flag img { display: inline-block; vertical-align: baseline; max-height: 16px; }
.content.heritage .author .name { display: inline; font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 600; font-style: italic; font-size: 18px; }
.content.heritage .body, .content.heritage .heading { padding-left: 0; padding-right: 0; }
.content.heritage .heading { border-bottom: 1px solid #f4f4f4; }
.content.heritage .heading h1 { text-align: center; color: #6e1d24; font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 600; font-style: italic; }
.content.heritage .heading .date { text-align: center; font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 500; font-style: italic; }
.content.heritage .heading .breadcrumb a { font-style: italic; }
.content.heritage .heading .breadcrumb .sep { color: #6b8295; }
.content.heritage .body { border-top: 1px solid #e6e6e6; }
.content.heritage .comments { padding: 25px; background: #f6f6f6; }
.content.heritage .comments h2:first-child { margin-top: 0; }
.content.heritage .comments .avatar img { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.content.heritage .comments .comment-header { margin-bottom: 1em; }
.content.heritage .comments .comment-header h3 { margin-bottom: 0; }
.content.heritage .comments .comment-header .meta { font-size: 0.75em; font-style: italic; }
.content.heritage .comments .comment-header .by { color: rgba(51, 51, 68, 0.7); }
.content.heritage .comments .comment-text { overflow: hidden; }
