/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url('/css/../behaviors/box-sizing/boxsizing.php'); }

img, video { max-width: 100%; height: auto; }

body { margin-top: 30px; }

header { position: fixed; z-index: 50; top: 0; left: 0; right: 0; padding: 5px 10px; background: #222; color: #DDD; }
header h1 { display: block; float: left; margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-size: 22px; font-weight: 400; }
header ul { float: right; margin-top: 1px; }
header ul li { display: inline; }
header ul li:first-child a { border-left: 0; }
header ul a { display: inline-block; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-size: 11px; text-decoration: none; padding: 0 2px 0 5px; border-left: 1px solid #666; color: #fff; }
header ul a:hover { color: #0066FF; }

.box { position: relative; height: 0; padding-bottom: 25%; float: left; }
.box.full { width: 100%; clear: both; }
.box.thq { width: 75%; }
.box.half { width: 50%; }
.box.quarter { width: 25%; }
.box.eighth { width: 12.5%; padding-bottom: 12.5%; }
.box.high { padding-bottom: 50%; }
.box.mid { padding-bottom: 37.5%; }
.box.low { padding-bottom: 12.5%; }
.box.right { float: right; }
.box div { position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125); }
.box div.hover { -webkit-transition: opacity 0.15s ease; -moz-transition: opacity 0.15s ease; -ms-transition: opacity 0.15s ease; -o-transition: opacity 0.15s ease; transition: opacity 0.15s ease; }
.box div.hover:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.box div.image { background-size: cover; background-position: center center; background-repeat: no-repeat; }
.box div.text, .box div.adjective, .box div.title { padding: 10px; text-align: center; background: #F6F6F6; color: #333; }
.box div.text > span, .box div.adjective > span, .box div.title > span { display: block; position: absolute; top: 50%; line-height: 1.25em; margin-top: -.75em; left: 0; right: 0; }
.box div.text > span.multiline, .box div.adjective > span.multiline, .box div.title > span.multiline { margin-top: -1.5em; }
@media (max-width: 900px) { .box div.text, .box div.adjective, .box div.title { font-family: 'Open Sans Condensed'; } }
.box div.adjective { font-size: 12px; text-transform: uppercase; }
.box div.title { background-color: #efefef; color: #666; font-family: 'Open Sans Condensed'; font-size: 24px; letter-spacing: 2px; text-transform: uppercase; -webkit-transition: background-color 0.2s ease; -moz-transition: background-color 0.2s ease; -ms-transition: background-color 0.2s ease; -o-transition: background-color 0.2s ease; transition: background-color 0.2s ease; }
.set.open .box div.title { background-color: #ffffff; color: #333; }
.box div.title small { font-size: 14px; }
.box div.text { line-height: 1.25; }
.box div.text > span { left: 10px; right: 10px; }

#morocco-1 { background-image: url('/gfx/morocco-1.png?1392320347'); }

#morocco-2 { background-image: url('/gfx/morocco-2.png?1392320876'); }

#morocco-3 { background-image: url('/gfx/morocco-3.png?1392321029'); }

#morocco-4 { background-image: url('/gfx/morocco-4.png?1392332598'); }

#park-1 { background-image: url('/gfx/park-1.png?1392322947'); }

#park-2 { background-image: url('/gfx/park-2.png?1392322967'); }

#park-3 { background-image: url('/gfx/park-3.png?1392322980'); }

#park-4 { background-image: url('/gfx/park-4.png?1392322991'); }

#park-5 { background-image: url('/gfx/park-5.png?1392323002'); }

#park-6 { background-image: url('/gfx/park-6.png?1392333596'); }

#nyc-1 { background-image: url('/gfx/nyc-1.png?1392324091'); }

#nyc-2 { background-image: url('/gfx/nyc-2.png?1392324105'); }

#nyc-3 { background-image: url('/gfx/nyc-3.png?1392324114'); }

#nyc-4 { background-image: url('/gfx/nyc-4.png?1392324203'); }

#nyc-5 { background-image: url('/gfx/nyc-5.png?1392325316'); }

#nyc-6 { background-image: url('/gfx/nyc-6.png?1392325335'); }

#home-1 { background-image: url('/gfx/home-1.png?1392325522'); }

#home-2 { background-image: url('/gfx/home-2.png?1392325532'); }

#home-3 { background-image: url('/gfx/home-3.png?1392325543'); }

#home-4 { background-image: url('/gfx/home-4.png?1392325692'); }

#site-c { background-image: url('/gfx/site-c.png?1392336988'); }

#site-bg { background-image: url('/gfx/site-bg.png?1392336811'); }

#site-cfc { background-image: url('/gfx/site-cfc.png?1392336931'); }

#site-ew { background-image: url('/gfx/site-ew.png?1392337024'); }

#site-fbh { background-image: url('/gfx/site-fbh.png?1392337109'); }

#site-gpi { background-image: url('/gfx/site-gpi.png?1392336892'); }

#site-gpj { background-image: url('/gfx/site-gpj.png?1392336863'); }

#site-osf { background-image: url('/gfx/site-osf.png?1392336767'); }

#site-times { background-image: url('/gfx/site-times.png?1392336784'); }

#site-vv { background-image: url('/gfx/site-vv.png?1392336834'); }

#park-3, #park-4, #park-5, #nyc-3, #home-1, #home-3, #gather-2, #gather-3 { background-position: bottom center; }

#site-c, #site-bg, #site-cfc, #site-ew, #site-fbh, #site-gpi, #site-gpj, #site-osf, #site-times, #site-vv { background-position: top center; background-color: white; }

#chart-01-illustrative { background-color: white; background-image: url('/gfx/charts/01-illustrative.png?1392415665'); background-position: 15px center; background-size: auto 95%; }

#chart-02-photographic { background-color: white; background-image: url('/gfx/charts/02-photographic.png?1392415677'); background-position: 15px center; background-size: auto 95%; }

#chart-03-bright { background-color: white; background-image: url('/gfx/charts/03-bright.png?1392415692'); background-size: contain; }
.quarter #chart-03-bright { background-size: 95% auto; }

#chart-04-bold { background-color: white; background-image: url('/gfx/charts/04-bold.png?1392415699'); background-size: contain; }
.quarter #chart-04-bold { background-size: 95% auto; }

#chart-05-clean { background-color: white; background-image: url('/gfx/charts/05-clean.png?1392415705'); background-size: contain; }
.quarter #chart-05-clean { background-size: 95% auto; }

#chart-06-confident { background-color: white; background-image: url('/gfx/charts/06-confident.png?1392415713'); background-size: contain; }
.quarter #chart-06-confident { background-size: 95% auto; }

#chart-07-corporate { background-color: white; background-image: url('/gfx/charts/07-corporate.png?1392415721'); background-size: contain; }
.quarter #chart-07-corporate { background-size: 95% auto; }

#chart-08-minimal { background-color: white; background-image: url('/gfx/charts/08-minimal.png?1392415884'); background-size: contain; }
.quarter #chart-08-minimal { background-size: 95% auto; }

#chart-09-trendy { background-color: white; background-image: url('/gfx/charts/09-trendy.png?1392415895'); background-size: contain; }
.quarter #chart-09-trendy { background-size: 95% auto; }

#chart-10-flat { background-color: white; background-image: url('/gfx/charts/10-flat.png?1392418996'); background-size: contain; }
.quarter #chart-10-flat { background-size: 95% auto; }

#banners { background-color: white; background-image: url('/gfx/swatches/banners.png?1392698329'); background-size: contain; }
#banners.cover { background-size: cover; }
#banners.bgtop { background-position: center top; }
#banners.bgbottom { background-position: center bottom; }
#banners.bgleft { background-position: left center; }
#banners.bgright { background-position: right center; }

#blogpost-1 { background-color: white; background-image: url('/gfx/swatches/blogpost-1.png?1392701191'); background-size: contain; }
#blogpost-1.cover { background-size: cover; }
#blogpost-1.bgtop { background-position: center top; }
#blogpost-1.bgbottom { background-position: center bottom; }
#blogpost-1.bgleft { background-position: left center; }
#blogpost-1.bgright { background-position: right center; }

#blogpost-2 { background-color: white; background-image: url('/gfx/swatches/blogpost-2.png?1392702495'); background-size: contain; }
#blogpost-2.cover { background-size: cover; }
#blogpost-2.bgtop { background-position: center top; }
#blogpost-2.bgbottom { background-position: center bottom; }
#blogpost-2.bgleft { background-position: left center; }
#blogpost-2.bgright { background-position: right center; }

#carousel { background-color: white; background-image: url('/gfx/swatches/carousel.png?1392698198'); background-size: contain; }
#carousel.cover { background-size: cover; }
#carousel.bgtop { background-position: center top; }
#carousel.bgbottom { background-position: center bottom; }
#carousel.bgleft { background-position: left center; }
#carousel.bgright { background-position: right center; }

#dashboard-detail { background-color: white; background-image: url('/gfx/swatches/dashboard-detail.png?1392698538'); background-size: contain; }
#dashboard-detail.cover { background-size: cover; }
#dashboard-detail.bgtop { background-position: center top; }
#dashboard-detail.bgbottom { background-position: center bottom; }
#dashboard-detail.bgleft { background-position: left center; }
#dashboard-detail.bgright { background-position: right center; }

#dashboard-sketch { background-color: white; background-image: url('/gfx/swatches/dashboard-sketch.png?1392698380'); background-size: contain; }
#dashboard-sketch.cover { background-size: cover; }
#dashboard-sketch.bgtop { background-position: center top; }
#dashboard-sketch.bgbottom { background-position: center bottom; }
#dashboard-sketch.bgleft { background-position: left center; }
#dashboard-sketch.bgright { background-position: right center; }

#event { background-color: white; background-image: url('/gfx/swatches/event.png?1392698315'); background-size: contain; }
#event.cover { background-size: cover; }
#event.bgtop { background-position: center top; }
#event.bgbottom { background-position: center bottom; }
#event.bgleft { background-position: left center; }
#event.bgright { background-position: right center; }

#features { background-color: white; background-image: url('/gfx/swatches/features.png?1392698279'); background-size: contain; }
#features.cover { background-size: cover; }
#features.bgtop { background-position: center top; }
#features.bgbottom { background-position: center bottom; }
#features.bgleft { background-position: left center; }
#features.bgright { background-position: right center; }

#footer { background-color: white; background-image: url('/gfx/swatches/footer.png?1392698257'); background-size: contain; }
#footer.cover { background-size: cover; }
#footer.bgtop { background-position: center top; }
#footer.bgbottom { background-position: center bottom; }
#footer.bgleft { background-position: left center; }
#footer.bgright { background-position: right center; }

#header-1 { background-color: white; background-image: url('/gfx/swatches/header-1.png?1392698175'); background-size: contain; }
#header-1.cover { background-size: cover; }
#header-1.bgtop { background-position: center top; }
#header-1.bgbottom { background-position: center bottom; }
#header-1.bgleft { background-position: left center; }
#header-1.bgright { background-position: right center; }

#header-2 { background-color: white; background-image: url('/gfx/swatches/header-2.png?1392698183'); background-size: contain; }
#header-2.cover { background-size: cover; }
#header-2.bgtop { background-position: center top; }
#header-2.bgbottom { background-position: center bottom; }
#header-2.bgleft { background-position: left center; }
#header-2.bgright { background-position: right center; }

#icons { background-color: white; background-image: url('/gfx/swatches/icons.png?1392698322'); background-size: contain; }
#icons.cover { background-size: cover; }
#icons.bgtop { background-position: center top; }
#icons.bgbottom { background-position: center bottom; }
#icons.bgleft { background-position: left center; }
#icons.bgright { background-position: right center; }

#index { background-color: white; background-image: url('/gfx/swatches/index.png?1392703187'); background-size: contain; }
#index.cover { background-size: cover; }
#index.bgtop { background-position: center top; }
#index.bgbottom { background-position: center bottom; }
#index.bgleft { background-position: left center; }
#index.bgright { background-position: right center; }

#leaderboard { background-color: white; background-image: url('/gfx/swatches/leaderboard.png?1392701067'); background-size: contain; }
#leaderboard.cover { background-size: cover; }
#leaderboard.bgtop { background-position: center top; }
#leaderboard.bgbottom { background-position: center bottom; }
#leaderboard.bgleft { background-position: left center; }
#leaderboard.bgright { background-position: right center; }

#megamenu { background-color: white; background-image: url('/gfx/swatches/megamenu.png?1392698305'); background-size: contain; }
#megamenu.cover { background-size: cover; }
#megamenu.bgtop { background-position: center top; }
#megamenu.bgbottom { background-position: center bottom; }
#megamenu.bgleft { background-position: left center; }
#megamenu.bgright { background-position: right center; }

#profile-detail { background-color: white; background-image: url('/gfx/swatches/profile-detail.png?1392698265'); background-size: contain; }
#profile-detail.cover { background-size: cover; }
#profile-detail.bgtop { background-position: center top; }
#profile-detail.bgbottom { background-position: center bottom; }
#profile-detail.bgleft { background-position: left center; }
#profile-detail.bgright { background-position: right center; }

#profile { background-color: white; background-image: url('/gfx/swatches/profile.png?1392698150'); background-size: contain; }
#profile.cover { background-size: cover; }
#profile.bgtop { background-position: center top; }
#profile.bgbottom { background-position: center bottom; }
#profile.bgleft { background-position: left center; }
#profile.bgright { background-position: right center; }

#section-hero { background-color: white; background-image: url('/gfx/swatches/section-hero.png?1392698207'); background-size: contain; }
#section-hero.cover { background-size: cover; }
#section-hero.bgtop { background-position: center top; }
#section-hero.bgbottom { background-position: center bottom; }
#section-hero.bgleft { background-position: left center; }
#section-hero.bgright { background-position: right center; }

#signup { background-color: white; background-image: url('/gfx/swatches/signup.png?1392700588'); background-size: contain; }
#signup.cover { background-size: cover; }
#signup.bgtop { background-position: center top; }
#signup.bgbottom { background-position: center bottom; }
#signup.bgleft { background-position: left center; }
#signup.bgright { background-position: right center; }

#popular { background-color: white; background-image: url('/gfx/swatches/popular.png?1392698189'); background-size: contain; }
#popular.cover { background-size: cover; }
#popular.bgtop { background-position: center top; }
#popular.bgbottom { background-position: center bottom; }
#popular.bgleft { background-position: left center; }
#popular.bgright { background-position: right center; }

#steps { background-color: white; background-image: url('/gfx/swatches/steps.png?1392698343'); background-size: contain; }
#steps.cover { background-size: cover; }
#steps.bgtop { background-position: center top; }
#steps.bgbottom { background-position: center bottom; }
#steps.bgleft { background-position: left center; }
#steps.bgright { background-position: right center; }

#teaser-1 { background-color: white; background-image: url('/gfx/swatches/teaser-1.png?1392698162'); background-size: contain; }
#teaser-1.cover { background-size: cover; }
#teaser-1.bgtop { background-position: center top; }
#teaser-1.bgbottom { background-position: center bottom; }
#teaser-1.bgleft { background-position: left center; }
#teaser-1.bgright { background-position: right center; }

#teaser-2 { background-color: white; background-image: url('/gfx/swatches/teaser-2.png?1392698366'); background-size: contain; }
#teaser-2.cover { background-size: cover; }
#teaser-2.bgtop { background-position: center top; }
#teaser-2.bgbottom { background-position: center bottom; }
#teaser-2.bgleft { background-position: left center; }
#teaser-2.bgright { background-position: right center; }

body { background: #e0e0e0; font-family: 'Open Sans'; }
body.transition { -webkit-transition: background-color 1s ease; -moz-transition: background-color 1s ease; -ms-transition: background-color 1s ease; -o-transition: background-color 1s ease; transition: background-color 1s ease; }

.set, .banner { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; width: 1000px; margin: 0 auto; border-top: 1px solid #f6f6f6; border-bottom: 1px solid #d6d6d6; padding: 50px 0; }
.set:before, .set:after, .banner:before, .banner:after { content: ""; display: table; }
.set:after, .banner:after { clear: both; }
.set:first-child, .banner:first-child { border-top: 0; }
.set:last-child, .banner:last-child { border-bottom: 0; }

.banner { padding: 100px 10px 25px 10px; }
.banner h2 { font-family: 'Open Sans Condensed', sans-serif; font-size: 35px; color: #333; text-shadow: 1px 1px 0 #f0f0f0; }
.banner h2 small { font-size: 24px; color: #444; }
.banner:first-child { padding-top: 50px; }

.collapsed { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; clear: both; position: relative; }
.collapsed:before, .collapsed:after { content: ""; display: table; }
.collapsed:after { clear: both; }

em { font-style: italic; }
