@each $box in (
  "site-c", "site-bg", "site-cfc", "site-ew", "site-fbh", "site-gpi", "site-gpj", "site-osf", "site-times", "site-vv"
) {
  $box-id: '#' + $box;
  $box-img: $box + '.png';
  #{$box-id} {
    background-image: image-url($box-img);
  }
}

#site-c, #site-bg, #site-cfc, #site-ew, #site-fbh, #site-gpi, #site-gpj, #site-osf, #site-times, #site-vv {
  background-position: top center;
  background-color: white;
}

@each $chart in ("01-illustrative", "02-photographic") {
  $chart-id: '#chart-' + $chart;
  $chart-img: $chart + '.png';
  #{$chart-id} {
    background-color: white;
    background-image: image-url("charts/" + $chart-img);
    background-position: 15px center;
    background-size: auto 95%;
  }
}

@each $chart in ("03-bright", "04-bold", "05-clean", "06-confident", "07-corporate", "08-minimal", "09-trendy", "10-flat") {
  // These have to be prefixed with 'chart-' because IDs/classes can't start with numbers
  $chart-id: '#chart-' + $chart;
  $chart-img: $chart + '.png';
  #{$chart-id} {
    background-color: white;
    background-image: image-url("charts/" + $chart-img);
    background-size: contain;

    .quarter & {
      background-size: 95% auto;
    }
  }
}

@each $swatch in ("banners", "blogpost-1", "blogpost-2", "carousel", "dashboard-detail", "dashboard-sketch", "event", "features", "footer", "header-1", "header-2", "icons", "index", "leaderboard", "megamenu", "profile-detail", "profile", "section-hero", "signup", "popular", "steps", "teaser-1", "teaser-2", "inbox-flat", "dashboard-proto-flat", "editor", "sidetabs", "color-page-tall", "overview-elccs", "hg1-tabloid", "hg2-tabloid") {
  $swatch-id: '#' + $swatch;
  $swatch-img: $swatch + '.png';
  #{$swatch-id} {
    background-color: white;
    background-image: image-url("swatches/" + $swatch-img);
    background-size: contain;

    &.cover {
      background-size: cover;
    }

    &.bgtop {
      background-position: center top;
    }

    &.bgbottom {
      background-position: center bottom;
    }

    &.bgleft {
      background-position: left center;
    }

    &.bgright {
      background-position: right center;
    }
  }
}
