.box {
  position: relative;

  height: 0;
  padding-bottom: 25%;

  float: left;


  &.full {
    width: 100%;
    clear: both;
  }

  &.thq {
    width: 75%;
  }

  &.half {
    width: 50%;
  }

  &.quarter {
    width: 25%;
  }

  &.eighth {
    width: 12.5%;
    // These are all tiny:
    padding-bottom: 12.5%;
  }

  &.high {
    padding-bottom: 50%;
  }

  &.xhigh {
    padding-bottom: 125%;
  }

  &.mid {
    padding-bottom: 37.5%;
  }

  &.reg {
    padding-bottom: 25%;
  }

  &.low {
    padding-bottom: 12.5%;
  }

  &.no-height {
    padding-bottom: 0;
    height: auto;
    > div {
      position: static;
      margin: 5px;
    }
  }

  &.right {
    float: right;
  }

  > div {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    @include border-radius(3px);
    @include box-shadow(0px 0px 5px rgba(0,0,0,0.125));

    &.hover {
      @include transition(opacity 0.15s ease);
      &:hover { @include opacity(0.8); }
    }

    &.image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.content {
      overflow: hidden;
    }

    &.text, &.adjective, &.title {
      padding: 10px;
      text-align: center;
      background: #F6F6F6;
      color: #333;

      > span {
        display: block;
        position: absolute;
        top: 50%;
        line-height: 1.25em;
        margin-top: -.75em;
        left: 0;
        right: 0;


        &.multiline {
          margin-top: -1.5em;
        }
      }

      @media (max-width: 900px) {
        font-family: 'Open Sans Condensed';
      }
    }

    &.adjective {
      font-size: 12px;
      text-transform: uppercase;
    }

    &.title {
      background-color: #efefef;
      color: #666;
      font-family: 'Open Sans Condensed';
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include transition(background-color .2s ease);

      .set.open & {
        background-color: #ffffff;
        color: #333;
      }

      small {
        font-size: 14px;
      }
    }

    &.text {
      line-height: 1.25;
      > span {
        left: 10px;
        right: 10px;
      }
    }
  }

}