.content-wrap {
  @import 'normalize';

  line-height: 1.5;
  #{headings()} { line-height: 1.15; }

  .breadcrumb > div {
    display: inline-block;
  }

  .heading, .body {
    padding: 25px;
  }

  .author {
    float: right;
    padding-left: 10px;
  }

  li {
    list-style: disc outside;
  }

  .author + p, p:first-child {
    margin-top: 0;
  }

  blockquote {
    margin: 1em 0;
    border-left: 4px solid white;
    padding: 0 40px 0 36px;

    cite {
      display: block;
      text-align: right;
      font-size: 0.875em;
      font-style: italic;
    }
  }

  .comment {
    .avatar {
      float: left;
      margin-right: 15px;
      img { display: block; }
    }
  }
}

.content {
  background: white;

  &.introduction {
    padding: 25px;

    p:last-child {
      margin-bottom: 0;
    }
  }

/*******************************************************************************
 * METROPOLIS                                                                  *
 *******************************************************************************/

  &.metropolis {
    color: #555;
    font-family: 'Whitney SSm A', 'Whitney SSm B';

    .breadcrumb {
      font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
      text-transform: uppercase;
      font-size: 0.75em;

      a {
        color: darken(rgb(99, 165, 241), 5%);
        @include text-shadow(1px 1px 0 rgba(0,0,0,0.5));
      }

      .sep {
        color: #999;
      }
    }

    .heading {
      background: image-url('Cleared-Susan-Heinch.jpg') no-repeat center bottom;
      background-size: cover;
    }

    .body {
      border-top: 3px solid #EEE;
    }

    .comments {
      margin-top: 1em;
      border-top: 3px solid #EEE;
      padding-top: 1em;

      .avatar {
        border: 1px solid #f2f2f2;
        padding: 5px;
        @include box-shadow(0 0 5px rgba(0,0,0,0.1));
      }

      h3 { margin-bottom: 0; }

      .meta {
        color: rgb(52, 36, 84);
        font-size: .875em;
        font-style: italic;
        margin-bottom: 1em;

        .by {
          color: rgba(52, 36, 84, .6);
        }
      }

      .comment-text {
        overflow: hidden;
      }
    }

    #{headings()} {
      font-family: 'Gotham SSm A', 'Gotham SSm B'; font-style: normal;
      color: rgb(52, 36, 84);
    }

    #{headings(1,2)} {
      font-weight: 700;
    }

    #{headings(3,6)} {
      font-weight: 400;
    }

    h1 {
      margin: 6.5em 3em 0.75em 3em;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      @include text-shadow(1px 1px 0 rgba(0,0,0,0.5));
    }

    .date {
      color: white;
      font-style: italic;
      font-size: 0.875em;
      text-align: center;
    }

    a {
      color: darken(rgb(99, 165, 241), 20%);
      text-decoration: none;
      &:hover { color: rgb(254, 139, 3); }
      &:visited, &.visited { color: rgb(99, 165, 241); }
    }

    blockquote {
      border-left-color: rgba(254, 139, 3, 0.3);
      cite { color: rgb(254, 139, 3); }
    }

    .author {
      position: relative;

      padding: 0 0 10px 0;
      border: {
        // top: 5px solid lighten(rgb(52, 36, 84), 10%);
        bottom: 5px solid lighten(rgb(52, 36, 84), 10%);
      }
      @include box-shadow(0 0 10px rgba(0,0,0,0.15));
      margin-left: 10px;
      line-height: 1;
      text-align: center;

      .avatar {
        margin-bottom: 0.5em;
        img { display: block; }
      }

      .flag {
        position: absolute;
        top: (128px - 18 - 5);
        right: 5px;

        img {
          display: block;
          @include border-radius(2px);
          border: 2px solid white;
          max-height: 18px;
        }
      }

      .name {
        display: inline;
        font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
        text-transform: uppercase;
        font-size: 18px;
      }

    }
  }

/*******************************************************************************
 * MARRAKESH                                                                   *
 *******************************************************************************/

  &.marrakesh {
    color: #544;
    font-family: 'Verlag A', 'Verlag B';
    font-weight: 300;

    #{headings(1,2)} {
      font-family: 'Gotham SSm A', 'Gotham SSm B';
      font-weight: 400;
      color: rgb(148, 16, 30);
    }

    #{headings(3,6)} {
      font-family: 'Archer SSm A', 'Archer SSm B';
      font-style: italic;
      font-weight: 600;
      color: rgb(148, 16, 30);
    }

    a {
      color: darken(rgb(149, 207, 75), 15%);
      text-decoration: none;

      &:hover { text-decoration: underline; }
      &:visited, &.visited { color: lighten(rgb(94, 44, 88), 10%); }
    }

    blockquote {
      position: relative;

      quotes: "\201C""\201D""\2018""\2019";
      border-left: 0;
      padding: 0 40px;
      margin: 2em 0;

      &:before, &:after, cite {
        font-family: 'Archer SSm A', 'Archer SSm B';
        font-style: italic;
        font-weight: 500;
        color: rgb(194, 97, 27);
      }

      &:before, &:after {
        position: absolute;
        font-size: 4em;
        line-height: 0;
      }

      &:before {
        top: 0.25em;
        left: 0;
        content: open-quote;
      }

      &:after {
        bottom: 0;
        right: 0;
        content: close-quote;
      }
    }

    .heading {
      position: relative;
      background: rgb(94, 44, 88);
      border-bottom: 4px solid darken(rgb(94, 44, 88), 10%);

      .date {
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
        font-style: italic;
      }

      h1 {
        color: rgb(149, 207, 75);
        margin: 0;
      }
    }

    .breadcrumb {
      position: relative;
      display: inline-block;
      top: -25px;
      padding: 15px 15px 12px 15px;

      background: darken(rgb(149, 207, 75), 10%);
      // @include border-radius(0 0 3px 3px);
      border-bottom: 3px solid darken(rgb(149, 207, 75), 20%);

      a { color: white; }
      .sep { color: rgba(255,255,255,0.5); }
    }


    .author {
      background: #fdfcfb;
      position: relative;

      padding: 0 0 10px 0;
      border-top: 8px solid rgb(148, 16, 30);
      @include box-shadow(1px 1px 1px rgba(0,0,0,0.25));

      margin-left: 10px;
      line-height: 1;
      text-align: center;

      .avatar {
        margin-bottom: 0.5em;
        img { display: block; }
      }

      .flag {
        position: absolute;
        top: (128px - 20);
        right: 0;

        img {
          display: block;
          @include border-radius(3px 0 0 0);
          background: white; // These prototype images have rounded transparent corners... :(
          border-top: 2px solid white;
          border-left: 2px solid white;
          max-height: 20px;
        }
      }

      .name {
        font-weight: 700;
        font-size: 18px;
        a { color: rgb(148, 16, 30); }
      }
    }

    .comments {
      background: #fdfcfb;
      padding: 25px;
      border-top: 5px solid rgb(194, 97, 27);

      h2:first-child {
        color: rgb(194, 97, 27);
        margin-top: 0;
      }

      .avatar {
        max-width: 96px;
        border-top: 7px solid rgb(194, 97, 27);
        @include box-shadow(1px 1px 1px rgba(0,0,0,0.25));
        img { display: block; }
      }

      .comment-header {
        margin-bottom: 1em;

        h3 {
          margin-bottom: 0;
          color: rgb(194, 97, 27);
        }

        .meta {
          font-size: 0.875em;
          font-style: italic;
          color: rgb(194, 97, 27);
        }

        .by {
          color: rgba(194, 97, 27, 0.5);
        }
      }

      .comment-text {
        overflow: hidden;
      }

    }

  }


/*******************************************************************************
 * HERITAGE                                                                    *
 *******************************************************************************/

  &.heritage {
    color: #334;
    font-family: 'Whitney SSm A', 'Whitney SSm B';

    #{headings()} {
      font-family: 'Gotham SSm A', 'Gotham SSm B';
      font-weight: 400;
      color: rgb(110, 29, 36);
    }

    a {
      color: saturate(#68859b, 10%);
      text-decoration: none;
      &:hover { color: darken(#68859b, 5%); text-decoration: underline; }
      &:visited, .visited { color: darken(#68859b, 8%); }
    }

    blockquote {
      position: relative;

      quotes: "\201C""\201D""\2018""\2019";
      border-left: 0;
      padding: 0 40px;
      margin: 2em 0;

      color: rgb(67, 5, 30);

      &, &:before, &:after {
        font-family: 'Archer SSm A', 'Archer SSm B';
        font-weight: 500;
      }

      &:before, &:after, cite {
        color: rgb(110, 29, 36);
      }

      &:before, &:after {
        position: absolute;
        font-size: 4em;
        line-height: 0;
      }

      &:before {
        top: 0.25em;
        left: 0;
        content: open-quote;
      }

      &:after {
        bottom: 0;
        right: 0;
        content: close-quote;
      }
    }

    .author {
      background: #f4f4f4;
      border: 1px solid #e6e6e6;
      border-bottom-width: 3px;
      padding: 15px;
      margin: 0 0 15px 15px;
      text-align: center;

      .flag {
        display: inline;
        img {
          display: inline-block;
          vertical-align: baseline;
          max-height: 16px;
        }
      }

      .name {
        display: inline;
        font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 600; font-style: italic;
        font-size: 18px;
      }
    }


    padding-left: 25px;
    padding-right: 25px;
    .body, .heading {
      padding-left: 0;
      padding-right: 0;
    }

    .heading {
      border-bottom: 1px solid #f4f4f4;

      h1 {
        text-align: center;
        color: rgb(110, 29, 36);
        font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 600; font-style: italic;
      }

      .date {
        text-align: center;
        font-family: 'Archer SSm A', 'Archer SSm B'; font-weight: 500; font-style: italic;
      }

      .breadcrumb {
        a {
          font-style: italic;
        }

        .sep {
          color: rgb(107, 130, 149);
        }
      }
    }

    .body {
      border-top: 1px solid #e6e6e6;
    }

    .comments {
      padding: 25px;
      background: #f6f6f6;

      h2:first-child {
        margin-top: 0;
      }

      .avatar img {
        @include border-radius(2px);
      }

      .comment-header {
        margin-bottom: 1em;

        h3 { margin-bottom: 0;}

        .meta {
          font-size: 0.75em;
          font-style: italic;
        }

        .by {
          color: rgba(#334, 0.7);
        }
      }

      .comment-text {
        overflow: hidden;
      }
    }

  }

}