.content-wrap {
  @import 'normalize';

  line-height: 1.5;
  #{headings()} { line-height: 1.15; }

  .breadcrumb > div {
    display: inline-block;
  }

  .heading, .body {
    padding: 25px;
  }

  .author {
    float: right;
    padding-left: 10px;
  }

  li {
    list-style: disc outside;
  }

  .author + p, p:first-child {
    margin-top: 0;
  }

  blockquote {
    margin: 1em 0;
    border-left: 4px solid white;
    padding: 0 40px 0 36px;

    cite {
      display: block;
      text-align: right;
      font-size: 0.875em;
      font-style: italic;
    }
  }
}

.content {
  background: white;

  &#metropolis {
    padding-left: 25px;
    padding-right: 25px;

    .body, .heading {
      padding-left: 0;
      padding-right: 0;
    }
    color: #555;
    font-family: 'Whitney SSm A', 'Whitney SSm B';

    .breadcrumb {
      font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
      text-transform: uppercase;
      font-size: 0.75em;

      .sep {
        color: #999;
      }
    }

    .body {
      border-top: 3px solid #EEE;
    }

    #{headings()} {
      font-family: 'Gotham SSm A', 'Gotham SSm B'; font-style: normal;
      color: rgb(52, 36, 84);
    }

    #{headings(1,2)} {
      font-weight: 700;
    }

    #{headings(3,6)} {
      font-weight: 400;
    }

    h1 {
      margin-left: 2em;
      margin-right: 2em;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .date {
      font-style: italic;
      font-size: 0.875em;
      text-align: center;
    }

    a {
      color: darken(rgb(99, 165, 241), 20%);
      text-decoration: none;
      &:hover { color: rgb(254, 139, 3); }
      &:visited, &.visited { color: rgb(99, 165, 241); }
    }

    blockquote {
      border-left-color: rgba(254, 139, 3, 0.3);
      cite { color: rgb(254, 139, 3); }
    }

    .author {
      border-left: 2px solid #eee;
      margin-left: 10px;
      line-height: 1;
      text-align: center;

      .avatar {
        margin-bottom: 0.5em;
        img {
          @include border-radius(3px);
        }
      }

      .flag {
        display: inline;
        img {
          display: inline-block;
          vertical-align: top;
          max-height: 18px;
        }
      }

      .name {
        display: inline;
        font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
        text-transform: uppercase;
        font-size: 18px;
      }

    }
  }

  &#park {
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;

    .author {
      position: relative;
      top: -3em;

      padding: 10px;
      border: 2px solid #eef;
      @include border-radius(3px);
      background: white;

      .avatar img, .flag img {
        @include border-radius(50%);
        border: 2px solid white;
      }

      .flag {
        position: absolute;
        top: 110px;
        right: 5px;

        img {
          height: 50px;
          width: 50px;
        }
      }

      .name {
        text-align: center;
        font-family: 'Oswald', sans-serif;
      }
    }

    .heading {
      background: rgb(229, 31, 48);
      color: white;
      border-bottom: 5px solid darken(rgb(229, 31, 48), 10%);

      h1 { color: white; }

      .breadcrumb {
        font-style: italic;

        a { color: white; }
        .sep { color: rgba(255,255,255,0.5); }
      }
    }

    .body {

    }

    #{headings()} {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      color: rgb(229, 31, 48);
    }

    a {
      color: saturate(rgb(47, 169, 210), 5%);
      text-decoration: none;
      &:hover { text-decoration: underline; }
      &:visited, .visited { color: desaturate(darken(rgb(47, 169, 210), 20%), 15%); }
    }

    blockquote {
      position: relative;

      quotes: "\201C""\201D""\2018""\2019";
      border-left: 0;
      padding: 0 40px;
      margin: 2em 0;

      &:before, &:after {
        position: absolute;
        color: rgb(65, 153, 30);
        font-size: 4em;
        line-height: 0;
      }
      &:before {
        top: 0.25em;
        left: 0;
        content: open-quote;
      }

      &:after {
        bottom: 0;
        right: 0;
        content: close-quote;
      }

      cite {
        color: rgb(65, 153, 30);
      }
    }
  }
}