/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$legacy-support-for-mozilla: false;

@import "compass/reset";
@import "compass/css3";
@import "toolkit";

* {
  @include box-sizing(border-box);
}

@import "header";
@import "boxes";
@import "boxes-by-id";

body {
  background: #e0e0e0;
  font-family: 'Open Sans';
  &.transition {
    @include transition(background-color 1s ease);
  }
}

.set, .banner {
  @include clearfix();

  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;

  border-top: 1px solid #f6f6f6;
  &:first-child { border-top: 0; }
  border-bottom: 1px solid #d6d6d6;
  &:last-child { border-bottom: 0; }
  padding: 25px 0;
}

.banner {
  padding: 50px 10px 25px 10px;
  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    color: #333;
    @include text-shadow(1px 1px 0 #f0f0f0);

    small {
      font-size: 20px;
      color: #444;
    }
  }
}

.collapsed {
  @include clearfix();
  // display: none;
  clear: both;
  position: relative;
}